body {
    background: url(images/background.jpg) center no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: white;
  }
.wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40px;
}  
#content {
    padding: 20px;
    background: rgba(22, 22, 22, 0.85);
}  